::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #282c34;
}

::-webkit-scrollbar-thumb {
  background-color: #bbbbbb59;
  border-radius: 1.25rem;
  border: .375rem solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  letter-spacing: .05rem;
  line-height: 1.3;
  /* border: 1px solid rgba(255, 255, 255, 0.199); */
  /* margin: 2rem; */
}



body {
  margin-top: 4rem;
  min-height: 100vh;
  background-attachment: fixed;
  background-color: #282c34;
  /* background: linear-gradient(#6600FF, #43007e); */

}


h1 {
  font-weight: 600;
  /* font-size: 4vw; */
  font-size: 3rem;
  word-spacing: .3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}


p {
  font-size: 1.5rem;
}


.btn-cont {
  display: flex;
}

button {
  width: 14rem;
  font-weight: 600;
  min-width: 7rem;
  padding: .7rem 1.7rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  outline: none;
  background: radial-gradient(circle at 3% 7.4%, rgb(0, 144, 243) 0%, rgb(0, 86, 240) 90%);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.653), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  letter-spacing: 1px;
}

button:hover {
  background: radial-gradient(circle at 3% 7.4%, rgb(103, 182, 235) 0%, rgb(142, 182, 255) 90%);
}



label {
  margin-bottom: 5px;
  font-size: 12px;
}

/* 
input::-webkit-file-upload-button {
  visibility: hidden;
}


input::before {
  content: ' SELECT UPLOAD';
}

input {
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  background: rgb(0, 144, 243);
  letter-spacing: 1px;

  border: 2px solid rgb(255, 255, 255);
  font-size: 1.1rem;
  padding: 7px 0 5px 24px;
  width: 14rem;
  margin-bottom: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.653), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  border-image: linear-gradient(to right, rgb(0, 0, 255), rgb(140, 0, 255), rgb(0, 208, 204));
  border-image: radial-gradient(circle at 3% 7.4%, rgb(0, 144, 243) 0%, rgb(0, 86, 240) 90%);
  border-image-slice: 1;
}

input:focus {
  border-image: radial-gradient(circle at 3% 7.4%, rgba(0, 146, 243, 0.705) 0%, rgba(0, 84, 240, 0.74) 90%);
  border-image-slice: 1;
} */






.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.border {
  border-top: solid white .1rem;
  /* padding-top: 2rem; */
  width: 80vw;
  max-width: 900px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}





/* border: solid 1px silver; */

.img-cont {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 3rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.img-box {
  /* border: solid; */
  position: relative;
}

img {
  height: 400px;
  width: 400px;
  background: rgb(27, 27, 27);
  border: solid 7px rgb(27, 27, 27);
  object-fit: scale-down;
}

.delete-img {
  /* border: solid; */
  position: absolute;
  cursor: pointer;
  display: inline-block;
  bottom: 12px;
  right: 12px;
}




/* ______________________________________ */

.error {
  margin: 1rem;
  color: red;
}

.progress-bar {
  height: 5px;
  background: radial-gradient(circle at 3% 7.4%, rgb(0, 144, 243) 0%, rgb(0, 86, 240) 90%);
  margin-top: 20px;
}


.output {
  height: 60px;
  /* width: 100%; */
  font-size: 0.8rem;
  /* border: solid red; */
}



/* modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.backdrop img {
  height: 90vh;
  width: 90vw;
  display: block;
  max-width: 70%;
  max-height: 90%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

form {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

span {
  padding-top: 3rem;
}

label input {
  height: 0;
  width: 0;
  opacity: 0;
  /* border: solid red; */
}

label {
  /* display: block; */
  width: 350px;
  height: 50px;
  border-top: 8.5px solid rgb(0, 144, 243);
  border-radius: 5px;
  /* margin: 10px auto; */
  line-height: 30px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  background: rgb(0, 144, 243);
}

/* label:hover {
  background: radial-gradient(circle at 3% 7.4%, rgba(0, 146, 243, 0.897) 0%, rgba(3, 91, 255, 0.884) 90%);
  color: white;
} */




@media screen and (max-width: 600px) {
  p {
    margin-left: 5%;
    margin-right: 2%;
  }

  h1 {
    margin-left: 5%;
    margin-right: 2%;
  }

  img {
    width: 100vw;
    height: 500px;
    /* border: solid red; */
  }

}